extends layout

block content
  h1= title
  -
    let items = results

  div.container-fluid
    div.row
      each item in items
        div.col-sm-2
          h4 #{item.name}
          p Color: #{item.color}
          p Age: #{item.age}