extends layout

block content
  h1= title

  form(id='DragonForm', action="/resource/dragons", method="POST")
    div.form-group
      label.dragonAttr(for='name') Dragon name
      input#dragon_type(type='text', name='name')
    div.form-group
      label.dragonAttr(for='color') Dragon color
      input#size(type='text', name='color')
    div.form-group
      label.dragonAttr(for='age') Dragon age
      input#cost(type='number', name='age')
    input(type="submit")

  script.
    document.forms['DragonForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
      }).catch((error) => {
        alert("Save failed " + error )
      });
    });
